requests
pandas
psycopg2-binary
pymysql
pymongo
snowflake-connector-python
sqlalchemy
boto3
msal
google-cloud-bigquery
google-cloud-storage
pyspark
kafka-python
tenacity
matplotlib
seaborn
plotly
apache-airflow
python-dotenv
